@charset "UTF-8";

body {
    background-color: rgb(var(--body-background-color-dim));
}

body > .main {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem 0;
}

body > .main > .box {
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(230, 230, 230);
    border-radius: 0.5rem;
    padding: 1.5rem;
}

body > .main > .nav {
    width: 71.25rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 2.75rem;
}



body > .main > .nav > .item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

body > .main > .nav > .item > .link {
    font-weight: 400;
    padding: 1rem 1.125rem;
}

body > .main > .nav > .item > .link > .text {
    font-size: 1.25rem;
}


body > .main > .nav > .item[selected] > .link > .text {
    color: rgb(var(--concept-color-green));
    filter: brightness(90%);
}

body > .main > .content {
    width: 71.25rem;
    flex: 1;

}

body > .main > .content > .title {
    border-bottom: 0.0625rem solid rgb(230, 230, 230);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}
body > .main > .content.qna .title {
    margin-bottom: 0;
}

body > .main > .content.qna > .content > .list_wrap {
    margin-right: auto;
    margin-left: auto;
}

body > .main > .content.qna > .content > .list_wrap > .thead {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1.3125rem 2.1875rem;
    border-bottom: 0.0625rem solid rgb(233, 233, 233);
}
body > .main > .content.qna > .content > .list_wrap > .thead > span {
    position: relative;
    display: inline-block;
    padding-left: 1.875rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

body > .main > .content.qna > .content > .list_wrap > .thead > .more-container {
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: max-content;
    min-width: 10rem;
    height: auto;
}

body > .main > .content.qna > .content > .list_wrap > .thead > .more-container > a > p {
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-right: 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    vertical-align: top;
    color: rgb(0, 206, 124);
}
