@charset "UTF-8";

body {
    background-color: rgb(var(--body-background-color-dim));
}

body > .main {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 4rem 0;
}

body > .main > .box {
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(230, 230, 230);
    border-radius: 0.5rem;
    padding: 1.5rem;
}

body > .main > .nav {
    width: 17.5rem;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 2.75rem;
}

body > .main > .nav > * + * {
    margin-top: 0.75rem;
}

body > .main > .nav > .profile-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
}

body > .main > .nav > .profile-container > .profile-image {
    width: 3.25rem;
    height: 3.25rem;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    margin-right: 1.25rem;
    overflow: hidden;
}

body > .main > .nav > .profile-container > .nickname {
    cursor: default;
    font-size: 1.25rem;
    font-weight: 500;
}

body > .main > .nav > .item {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main > .nav > .item > .link {
    background-color: rgb(var(--body-background-color-dim));
    border: 0.0625rem solid rgb(230, 230, 230);
    border-radius: 0.5rem;
    font-weight: 400;
    padding: 1rem 1.125rem;
}

body > .main > .nav > .item[selected] > .link {
    background-color: rgba(var(--concept-color-green), 12.5%);
    border: 0.0625rem solid rgba(var(--concept-color-green), 15%);
}

body > .main > .nav > .item[selected] > .link > .text {
    color: rgb(var(--concept-color-green));
    filter: brightness(90%);
}

body > .main > .content {
    flex: 1;
    padding-right: 2rem;
    padding-left: 2rem;
}

body > .main > .content > .title {
    border-bottom: 0.0625rem solid rgb(230, 230, 230);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

body > .main > .content.info > .form > .table {
    border-collapse: collapse;
}

body > .main > .content.info > .form > .table > .body > .row[rel="row-change-password"],
body > .main > .content.info > .form > .table > .body > .row[rel="row-change-contact"] {
    display: none;
}

body > .main > .content.info > .form > .table > .body > .row.visible[rel="row-change-password"],
body > .main > .content.info > .form > .table > .body > .row.visible[rel="row-change-contact"] {
    display: table-row;
}

body > .main > .content.info > .form > .table > .body > .row:not(:first-child) > th,
body > .main > .content.info > .form > .table > .body > .row:not(:first-child) > th + td {
    border-top: 0.0625rem solid rgb(230, 230, 230);
    padding-top: 1rem;
}

body > .main > .content.info > .form > .table > .body > .row:not(:last-child) > * {
    padding-bottom: 1rem;
}

body > .main > .content.info > .form > .table > .body > .row > .caption {
    font: inherit;
    padding-right: 1rem;
    text-align: right;
    white-space: nowrap;
}

body > .main > .content.info > .form > .table > .body > .row > .cell > * + * {
    margin-top: 0.5rem;
}

body > .main > .content.info > .form > .table > .body > .row > .cell > .label {
    align-items: center;
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: flex-start;
}
body > .main > .content.info > .form > .table > .body > .row > .cell > .profile {
    position: relative;
    width: fit-content;
    height: auto;
    margin: 0px auto;
}
body > .main > .content.info > .form > .table > .body > .row > .cell > .label  >.profile-image {
    position: relative;
    width: fit-content;
    margin: 0px auto;
}
body > .main > .content.info > .form > .table > .body > .row > .cell > .label >.profile-image > .camera-image {
    position: absolute;
    right: -5px;
    bottom: 2px;
    width: 24px;
    height: 24px;
}

body > .main > .content.info > .form > .table > .body > .row > .cell > .label > * {
    margin-right: 0.625rem;
}

body > .main > .content.info > .form > .table > .body > .row > .cell > .label > .input {
    flex: 0 0 15rem;
}

body > .main > .content.info > .form > .table > .body > .row > .cell > .warning {
    color: rgb(231, 76, 60);
    display: none;
}

body > .main > .content.info > .form > .table > .body > .row > .cell > .warning.visible {
    display: inline-block;
}

body > .main > .content.truncate > .truncate-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
body > .main > .content.truncate > .truncate-form > .title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin: 0.25rem 0 ;
}

body > .main > .content.truncate > .truncate-form  > .sub-title {
    font-size: 13px;
    font-weight: 400;
    color: rgb(106, 106, 106);
    letter-spacing: -0.26px;
    margin: 0.25rem 0 ;
}
body > .main > .content.truncate > .truncate-form > ._object-check-container {
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 80%;
    height: 22px;
    margin: 0.4rem 0 ;
}

body > .main > .content.truncate > .truncate-form > ._object-check-container > .text {
    font-size: 14px;
    letter-spacing: -0.28px;
    color: rgb(0,0,0);
}

body > .main > .content.truncate > .truncate-form > .text-container {
    width: 80%;
    margin: 0.25rem 0 ;
}

body > .main > .content.truncate > .truncate-form > .text-container > .text {
    font-size: 14px;
    letter-spacing: -0.28px;
}

body > .main > .content.truncate > .truncate-form > .button-container {
    margin: 0.625rem 0 ;
    width: 80%;
}

body > .main > .content.truncate > .truncate-form > .button-container > ._object-button {
    width: 18.35rem;
}

body > .main > .content.truncate > .truncate-form > .button-container > ._object-button:first-child {
    background-color: rgb(248, 248, 248);
    color: rgb(0,0,0);
}
body > .main > .content.truncate > .truncate-form > .button-container > ._object-button:last-child{
    background-color: rgb(219, 219, 219);
    cursor: default;
}

body > .main > .content.truncate > .truncate-form > .button-container > ._object-button:last-child.visible {
    cursor: pointer;
    background-color: rgb(252, 112, 112);
}