<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>드립소다 문의답장</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/member/resources/stylesheets/managerChat.css}">
    <script defer th:src="@{/resources/libraries/ckeditor/ckeditor.js}"></script>
    <script defer th:src="@{/member/resources/scripts/managerChat.js}"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">

    <form class="form" enctype="multipart/form-data" id="form">
        <h1>문의답장</h1>
        <label class="content-container">
            <span hidden>내용</span>
            <textarea class="_object-input content" maxlength="1000" name="content"
                      placeholder="내용을 입력해 주세요. (1000자 이내)"></textarea>
        </label>
        <div class="button-container">
            <input class="_object-button back" name="back" type="button" value="돌아가기">
            <input class="_object-button" type="submit" value="작성완료">
        </div>
    </form>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>

