@charset "UTF-8";

:root {
    --body-background-color-default: 255, 255, 255;
    --body-background-color-dim: 247, 247, 247;
    --body-color-default: 0, 0, 0;
    --body-color-inactive: 160, 160, 160;

    --concept-color-green: 0, 206, 124;
    --concept-color-green-dim: 0, 155, 93;
    --content-width-default-1199: 45rem;
    --content-width-default: 73.75rem;
}

html {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 300;
}

body {
    background-color: rgb(var(--body-background-color-default));
    color: rgb(var(--body-color-default));
    margin: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-style: normal;
    list-style: none;
    border: 0;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

button {
    /* cursor: pointer; */
    margin: 0;
    padding: 0;
    /* vertical-align: top; */
    /* background: unset; */
    border: 0;
    outline: none;
    font-family: NotoSansKR, "Noto Sans CJK KR", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font: inherit;
    margin: unset;
}

input {
    background-color: inherit;
    border: unset;
    color: inherit;
    font: inherit;
    margin: unset;
    outline: none;
    padding: unset;
}

img {
    border-style: none;
}


ol, ul {
    list-style-type: none;
    margin-block: unset;
    margin-inline: unset;
    padding-inline: unset;
    padding-block: unset;
}

svg:not(:root) {
    overflow: initial;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}


.aucF > .swiper-slide {
    text-align: center;
    font-size: 1.125rem;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 3.4375rem;
    height: 3.4375rem;
    object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.aucF > .swiper-wrapper {
    transition-timing-function: linear;
}

.aucF > .swiper-container-pointer-events {
    touch-action: pan-y;
}


._object-input {
    width: 100%;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(233, 233, 233);
    border-radius: 0.25rem;
    box-sizing: border-box;
    font: inherit;
    outline: none;
    padding: 0.925rem 1.125rem;
}

._object-input:focus {
    border: 0.0625rem solid rgb(var(--concept-color-green));
    box-shadow: inset 0 0 0 0.0625rem rgb(var(--concept-color-green));
}

._object-input:disabled {
    background-color: rgb(var(--body-background-color-dim));
    color: rgb(var(--body-color-inactive));
}

._object-label {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

._object-label > ._object-input {
    width: auto;
    flex: 1;
}

._object-check-container {
    align-items: center;
    color: rgb(var(--body-color-inactive));
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    user-select: none;
}

._object-check-container > ._object-check {
    width: 1.25rem;
    height: 1.25rem;
    align-items: center;
    background-color: rgb(215, 215, 215);
    border-radius: 0.15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 0.425rem;
}

._object-check-container > :checked ~ ._object-check {
    background-color: rgb(var(--concept-color-green));
}

._object-check-container > ._object-check > ._object-check-icon {
    top: 0.0625rem;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    position: relative;
}

._object-button {
    border: none;
    background-color: rgb(var(--concept-color-green));
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font: inherit;
    padding: 1rem 2rem;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: ease;
    user-select: none;
}

._object-button:hover {
    background-color: rgb(var(--concept-color-green-dim));
}

._object-button:disabled {
    background-color: rgb(215, 215, 215);
    cursor: default;
}

._object-cover {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 75%);
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 9;
}

._object-cover > ._image {
    height: 4rem;
    animation-name: anim-cover-image;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

._object-cover > ._message {
    color: rgb(255, 255, 255);
    font-size: 1.33rem;
    line-height: 75%;
    margin-top: 2rem;
    pointer-events: none;
    text-align: center;
    user-select: none;
}

body._covering {
    overflow: hidden;
}

body._covering > ._object-cover {
    display: flex;
}

._layout-hmf {
    width: 100%;
    min-height: 100%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden auto;
    position: absolute;
}

._layout-hmf > ._main {
    width: var(--content-width-default);
    align-self: center;
    flex: 1;
}

._content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

._content-wrapper > ._content-container {
    width: var(--content-width-default);
}

._header {
    top: 0;
    width: 100%;
    height: 5rem;
    align-items: stretch;
    background-color: rgb(var(--body-background-color-default));
    box-shadow: 0 0 1rem 0.0625rem rgba(0, 0, 0, 10%);
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    z-index: 8;
}

._header > .content-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

._header > .content-container > .button-menu {
    top: calc(100% - 0.5rem);
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.0625rem rgba(0, 0, 0, 15%);
    display: none;
    padding: 1.25rem 1.75rem;
    position: absolute;
    z-index: 1;
}

._header > .content-container > .write-menu {
    top: calc(100% - 0.5rem);
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.0625rem rgba(0, 0, 0, 15%);
    display: none;
    padding: 1.25rem 1.75rem;
    position: absolute;
    z-index: 1;
}

._header > .content-container > .write-menu.visible {
    display: block;
}

._header > .content-container > .write-menu > .item {
    filter: brightness(110%) grayscale(100%);
}

._header > .content-container > .write-menu > .item:hover {
    filter: brightness(100%) grayscale(0%);
}

._header > .content-container > .write-menu > .item + .item {
    margin-top: 1.375rem;
}

._header > .content-container > .write-menu > .item > .link {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

._header > .content-container > .write-menu > .item > .link > .icon {
    color: rgb(var(--concept-color-green));
    font-size: 1.75rem;
    margin-right: 0.875rem;
}

._header > .content-container > .write-menu > .item > .link > .text {
    color: rgb(var(--concept-color-green));
    font-size: 1.25rem;
    font-weight: 500;
}

._header > .content-container > .logo-container {
    line-height: 100%;
    margin-right: 1.25rem;
    user-select: none;
    -webkit-user-drag: none;
}

._header > .content-container > .logo-container > .logo {
    height: 2.125rem;
}

._header > .content-container > .menu {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin: unset;
    padding: unset;
}

._header > .content-container > .menu > .item {
    border-top: 0.175rem solid transparent;
    border-bottom: 0.175rem solid transparent;
    margin: 0 0.75rem;
    user-select: none;
}

._header > .content-container > .menu > .item.selected {
    border-bottom: 0.175rem solid rgb(0, 0, 0);
}

._header > .content-container > .menu > .item > .link {
    color: rgb(var(--body-color-inactive));
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%;
    display: inline-block;
    padding: 1.25rem 0.2rem;
}

._header > .content-container > .menu > .item.selected > .link {
    color: rgb(var(--body-color-default));
}

._header > .content-container > .search-form-container > .search-form {
    margin-right: 1.5rem;
}

._header > .content-container > .search-form-container > .search-form > .input-container {
    position: relative;
}

._header > .content-container > .search-form-container > .search-form > .input-container > .icon {
    top: 50%;
    left: 1.125rem;
    color: rgb(163, 163, 163);
    font-size: 1.25rem;
    pointer-events: none;
    position: absolute;
    transform: translateY(-50%);
}

._header > .content-container > .search-form-container > .search-form > .input-container > .input {
    width: 15.75rem;
    border: 0.0625rem solid rgb(233, 233, 233);
    border-radius: 999rem;
    box-sizing: border-box;
    background-color: rgb(248, 248, 248);
    padding: 0.7rem 1rem 0.7rem 2.875rem;
}

._header > .content-container > .search-form-container > .search-form > .input-container > .input:focus {
    border: 0.0625rem solid rgb(var(--concept-color-green));
    box-shadow: inset 0 0 0 0.0625rem rgb(var(--concept-color-green));
}

._header > .content-container > .menu-toggle {
    display: none;
}

._header > .content-container > .side-menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: unset;
    padding: unset;
}

._header > .content-container > .side-menu > .item {
    font-weight: 400;
}

._header > .content-container > .side-menu > .item.button {
    background-color: rgb(var(--concept-color-green));
    border-radius: 0.25rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 0.75rem 1.75rem;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: ease;
}

._header > .content-container > .side-menu > .item.button:hover {
    background-color: rgb(var(--concept-color-green-dim));
}

._header > .content-container > .side-menu > .item + .item {
    margin-left: 1.25rem;
}

._header > .content-container > .side-menu > .item > .link {
    color: rgb(var(--body-color-inactive));
}

._main > .category {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


._main > .category > * {
    box-sizing: border-box;
}


._main > .category > ._sliding-view {
    margin: 6.25rem 0 0;
}

._main > .category > ._best_travel_container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 6.25rem 0 0;
}

._main > .category > ._best_travel_container > ._best_travel_top {
    box-sizing: border-box;
    width: 100%;
    min-height: 3.5625rem;
    margin-bottom: 3.5625rem;
}


._main > .category > ._best_travel_container > ._best_travel_top > ._travel_icon_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 1.875rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._travel_icon_container > ._best_travel_greeting {
    user-select: none;
    -webkit-user-drag: none;
    min-height: 1.875rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: rgb(37, 37, 37);
    letter-spacing: -0.48px;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_bottom {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_bottom > p {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 1.3125rem;
    margin-top: 0.375rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3125rem;
    color: rgb(0, 206, 124);
    letter-spacing: -0.32px;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._travel_icon_container > ._travel_icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.375rem 0 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.25s ease-in-out 0s;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC {
    position: relative;
    display: flex;
    gap: 1.125rem;
    box-sizing: border-box;
    width: 100%;
    height: 21.4375rem;

}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container {
    width: auto;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .image-container {
    width: 100%;
    height: 100%;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .image-container > img {
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container {

    border-radius: 1.25rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-height: 7.875rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .top-text {
    padding: 0.875rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 2.75rem;
    margin-bottom: 0.375rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .top-text > .text {
    width: auto;
    height: 2.25rem;
    margin-right: 1.125rem;
    margin-bottom: 0.375rem;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.25rem;
    color: rgb(255, 255, 255);
    letter-spacing: -0.48px;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text {
    padding: 0.875rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-height: calc(100% - 2.625rem);
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .middle-text-container {
    display: flex;
    gap: 0.5rem;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .middle-text-container > .svg-container {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.25s ease-in-out 0s;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .middle-text-container > .text {
    user-select: none;
    -webkit-user-drag: none;
    height: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: -0.32px;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .middle-text-container > .text > span {
    user-select: none;
    -webkit-user-drag: none;
    height: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: rgb(0, 206, 124);
    letter-spacing: -0.32px;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .bottom-text {
    display: flex;
    gap: 0.5rem;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    margin-bottom: 0.5rem;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .bottom-text > .bottom-text-container {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.25s ease-in-out 0s;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .bottom-text > .text {
    user-select: none;
    -webkit-user-drag: none;
    height: 1.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: rgb(255, 255, 255);
    letter-spacing: -0.32px;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-wrapper > .swiper-slide > .travel-swiper-text-container > .travel-swiper-text > .middle-text > .bottom-text > .text > span {
    user-select: none;
    -webkit-user-drag: none;
    height: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: rgb(0, 206, 124);
    letter-spacing: -0.32px;
}


._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-button-prev {
    position: absolute;
    z-index: 1;
    left: -1.25rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(211, 211, 211);
    border-radius: 50%;
}

._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-button-prev > .left_button {
    transform: rotateZ(180deg);
}


._main > .category > ._best_travel_container > ._best_travel_top > ._best_travel_category > .btC > .travel-swiper-container > .swiper-button-next {
    position: absolute;
    z-index: 1;
    right: -1.25rem;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(211, 211, 211);
    border-radius: 50%;
}

._main > .category > ._sliding-view > ._sliding-image-container ._slide-first {
    max-width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

._main > .category > ._travel_view {
    margin-top: 3.4375rem;
    display: grid;
    grid-template-areas:
        "accompanyGridItem StoreGridItem rightTop"
        "planGridItem StoreGridItem rightBottom";
    gap: 1.5rem;
    width: 100%;
    height: 100%;

}

.tBtn1 {
    position: relative;
    overflow: hidden;
    grid-area: accompanyGridItem;
    width: 17.625rem;
    height: 12rem;
    border-radius: 1.25rem;
    padding: 0 0 0 0;
}

.tBtn1 > ._menu_accompany {
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    font-size: 1.25rem;
    color: rgb(233, 233, 233);
    text-align: left;
    letter-spacing: -0.4px;
}

.tBtn2 {
    position: relative;
    overflow: hidden;
    grid-area: planGridItem;
    width: 17.625rem;
    height: 12rem;
    border-radius: 1.25rem;
    padding: 0 0 0 0;
}

.tBtn2 > ._menu_schedule {
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    font-size: 1.25rem;
    color: rgb(233, 233, 233);
    text-align: left;
    letter-spacing: -0.4px;
}

.tBtn3 {
    position: relative;
    overflow: hidden;
    grid-area: StoreGridItem;
    width: 17.625rem;
    height: 25.5rem;
    border-radius: 1.25rem;
    padding: 0 0 0 0;
}

.tBtn3 > ._menu_goods {
    position: absolute;
    top: 1rem;
    left: 1.25rem;
    font-size: 1.25rem;
    color: rgb(233, 233, 233);
    text-align: left;
    letter-spacing: -0.4px;
}


.tBtn1 > ._menu_accompany > h1, .tBtn2 > ._menu_schedule > h1, .tBtn3 > ._menu_goods > h1 {
    margin: 0 0 0.25rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-align: left;
    letter-spacing: -0.6px;
}

.tBtn1 > ._menu_accompany > span, .tBtn2 > ._menu_schedule > span, .tBtn3 > ._menu_goods > span {
    font-size: 1.25rem;
    color: rgb(80, 235, 173);
    text-align: left;
}

.mImg {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
    border-radius: 1.25rem;
}

.mImg:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-out 0s;
}

._main > .category > ._travel_view > ._right_top {
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin: 0 0 1.25rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_left {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
    box-sizing: border-box;
    width: 15.1875rem;
    height: 10.5625rem;
    padding: 1.125rem 0.875rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
    box-shadow: rgba(25, 25, 25, 0.1) 0 0 0.625rem 0;
}

._main > .category > ._travel_view > ._right_top > ._right_top_right {
    cursor: pointer;
    position: relative;
    width: 20rem;
    height: 10.5625rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_right > .rtrF {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-bottom: 1.5rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_right > .rtrF > .rtrS {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0.625rem 0.875rem;
    background: rgb(255, 255, 255);
    border: 0.0625rem dashed rgb(0, 206, 124);
    border-radius: 1.25rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_right > .rtrF > .rtrS > ._trip_schedule {
    width: calc(100% - 2.75rem);
    min-height: 2.6875rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_right > .rtrF > .rtrS > ._trip_schedule > .tsT1 {
    user-select: none;
    -webkit-user-drag: none;
    min-height: 1.375rem;
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: rgb(0, 206, 124);
    letter-spacing: -0.3px;
}

._main > .category > ._travel_view > ._right_top > ._right_top_right > .rtrF > .rtrS > ._trip_schedule > .tsT2 {
    user-select: none;
    -webkit-user-drag: none;
    min-height: 1.1875rem;
    margin: 0;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    color: rgb(154, 154, 154);
    letter-spacing: -0.26px;

}

._main > .category > ._travel_view > ._right_top > ._right_top_right > .rtrF > .rtrS > ._trip_schedule_button {
    width: 2.75rem;
    height: 2.75rem;
    background-color: rgb(255, 255, 255);
    border: 0.0625rem solid rgb(181, 234, 213);
    border-radius: 2.75rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}


._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.625rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_button {
    cursor: pointer;
    width: 100%;
    height: 2.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 206, 124);
    border-radius: 0.875rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container > ._my_profile_img_container {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container > ._my_profile_img_container::before {
    content: "";
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    display: block;
    width: 0.5515rem;
    height: 0.5515rem;
    background-color: rgb(0, 206, 124);
    border: 0.125rem solid rgb(255, 255, 255);
    border-radius: 50%;
}


._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container > ._my_profile_img_container > ._my_profile_img {
    width: 100%;
    height: 100%;
}


._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container > ._greetings {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    width: 28.375rem;
    height: 3.375rem;
}

._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container > ._greetings > .gP {
    user-select: none;
    -webkit-user-drag: none;
    font-size: 1.125rem;
    line-height: normal;
    color: rgb(37, 37, 37);
    letter-spacing: -0.48px;
    margin: 0;
}


._main > .category > ._travel_view > ._right_top > ._right_top_left > ._my_profile_container > ._my_profile_img_container > ._my_profile_img {
    box-sizing: border-box;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid rgb(0, 206, 124);
    border-radius: 50%;
}

._main > .category > ._travel_view > ._right_bottom {
    width: 36.625rem;
}

._main > .category > ._travel_view > ._right_bottom > .rbF {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > .rbFT {
    box-sizing: border-box;
    width: 100%;
    min-height: 3.5625rem;
    margin-bottom: 1.5rem;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin-top: 0.75rem;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF {
    box-sizing: border-box;
    width: 100%;
    height: 5.875rem;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF > .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF > .swiper-container > .swiper-wrapper > .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF > .swiper-container > .swiper-wrapper > .swiper-slide > .text-container {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
    text-align: center;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF > .swiper-container > .swiper-wrapper > .swiper-slide > img {
    border-radius: 3.125rem;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF > .swiper-container > .swiper-wrapper > .swiper-slide > .text-container > span {
    user-select: none;
    -webkit-user-drag: none;
    height: 1.3125rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    letter-spacing: -0.28px;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > .rbFT > ._traveler_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 1.875rem;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > .rbFT > ._traveler_container > ._traveler_icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.375rem 0 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.25s ease-in-out 0s;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > .rbFT > ._traveler_number_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > .rbFT > ._traveler_number_container > ._traveler_number {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 1.3125rem;
    margin-top: 0.375rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3125rem;
    color: rgb(0, 206, 124);
    letter-spacing: -0.32px;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > .rbFT > ._traveler_container > ._traveler_greeting {
    user-select: none;
    -webkit-user-drag: none;
    min-height: 1.875rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: rgb(37, 37, 37);
    letter-spacing: -0.03rem;
    margin: 0;
}

._main > .category > ._travel_view > ._right_bottom > .rbF > ._accompany_users_container > .aucF > .swiper-container {
    cursor: grab;
}

._main > .category > ._recent_best_travel_container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 6.25rem 0 3.125rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top {
    box-sizing: border-box;
    width: 100%;
    min-height: 3.5625rem;
    margin-bottom: 1.5rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_icon_container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 1.875rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_icon_container > ._recent_best_travel_icon {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0.375rem 0 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: transform 0.25s ease-in-out 0s;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_icon_container > ._recent_best_travel_greeting {
    user-select: none;
    -webkit-user-drag: none;
    min-height: 1.875rem;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: rgb(37, 37, 37);
    letter-spacing: -0.48px;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_bottom {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    white-space: nowrap;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_bottom > p {
    user-select: none;
    -webkit-user-drag: none;
    width: 100%;
    height: 1.3125rem;
    margin-top: 0.375rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3125rem;
    color: rgb(0, 206, 124);
    letter-spacing: -0.32px;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_bottom > ._recent_best_travel_more {
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    width: max-content;
    min-width: 10rem;
    height: auto;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_bottom > ._recent_best_travel_more > a > p {
    position: relative;
    z-index: 100;
    top: 0;
    margin-right: 0;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: rgb(0, 206, 124);
    background: rgb(255, 255, 255);
    transition: margin-right 0.15s ease-in-out 0s;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_bottom > ._recent_best_travel_more > a > p:hover {
    position: relative;
    z-index: 100;
    top: 0;
    margin-right: 1.5rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: rgb(0, 206, 124);
    background: rgb(255, 255, 255);
    transition: margin-right 0.15s ease-in-out 0s;
}


._main > .category > ._recent_best_travel_container > ._recent_best_travel_top > ._recent_best_travel_bottom > ._recent_best_travel_more ._recent_best_travel_more_icon {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 1.25rem;
    height: 100%;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container > ._recent_best_travel_menu {
    position: relative;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container > .accompany {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > * + * {
    margin-top: 0.75rem;
}


._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .cover-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .location-container {
    top: 0.75rem;
    left: 0.75rem;
    background-color: rgba(0, 0, 0, 62.5%);
    border-radius: 999rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0;
    position: absolute;
    z-index: 1;
    padding: 0.375rem 0.75rem 0.375rem 0.375rem;
    pointer-events: none;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .location-container > .icon-container {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 0.425rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .location-container > .text {
    margin-left: 0.5rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .location-container > .duration {
    display: none;
    margin-left: 0.5rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .cover-image:hover ~ .location-container > .duration {
    display: inline-block;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .title-container {
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .title-container > .status {
    color: rgb(var(--concept-color-green));
    white-space: nowrap;
    margin-right: 0.5rem;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .title-container > .status.expired {
    color: rgb(231, 76, 60);
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .title-container > .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .content > p {
    overflow: hidden;
    text-overflow: ellipsis;
}

._main > .category > ._recent_best_travel_container > ._recent_best_travel_menu_container .accompany > .nickname {
    color: rgb(0, 143, 246);
    font-size: 0.9rem;
    font-weight: 500;
}


._main > .right-bottom-nav > .chat-button-container {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    overflow: visible;
    background: transparent;
    bottom: 5rem;
    right: 2.875rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list {
    top: calc(100% - 45rem);
    width: 22.5rem;
    height: 43.5rem;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem 0.0625rem rgba(0, 0, 0, 15%);
    padding: 1.25rem 1.75rem;
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: column;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list.visible {
    display: flex;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.625rem;
}


._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.top > .logo-img-container {
    width: 1.5625rem;
    height: 1.5625rem;
    margin-right: 2.5rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.top > .logo-img-container > svg {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    color: rgb(0, 199, 67);
    cursor: pointer;
    opacity: 1;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.qna {
    display: flex;
    flex-direction: row;
    padding: 0.75rem;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #F7F7F8;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.8rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.qna > svg {
    margin-right: 0.625rem;
    width: 1.25rem;
    height: 1.25rem;
    color: rgba(0, 0, 0, 0.4);
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.qna > .text-container > p {
    white-space: pre-line;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625rem;
    padding: 1.875rem 1.5rem 0.5rem
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.logo > .logo-img-container {
    width: 4.5rem;
    height: 4.5rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.logo > .logo-img-container > img {
    width: 100%;
    height: 100%;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.logo > .text-container {
    text-align: center;
    font-weight: 700;
    font-size: 1.125rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.logo > ._object-button {
    width: 85%;
    text-align: center;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.875rem 0.5rem;
    line-height: 1.6rem;
    font-size: 0.875rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.name {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20%;
    margin-left: 3.25rem;
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.6rem;
    font-size: 0.875rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.manager {
    display: flex;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.manager > img {
    margin-right: 0.625rem;
    width: 2.25rem;
    height: 2.25rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.manager > .text-container {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 0.625rem 0.75rem
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.user {
    -webkit-box-pack: end;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.625rem;
    padding-left: 4rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.user > span {
    margin-top: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 199, 67);
    border-radius: 1rem;
    padding: 0.625rem 0.75rem;
    margin-bottom: 0.75rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > .item.manager > span {
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 0.625rem 0.75rem;

}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > ._object-button.chatForm {
    background: linear-gradient(92.34deg, rgba(239, 239, 240, 0.8) 48.04%, rgba(247, 247, 248, 0.8) 100%);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 3.125rem;
    padding: 0 0.375rem 0 0.875rem;
    border-radius: 1.125rem;
    backdrop-filter: blur(3.75rem);
    margin-top: auto;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > ._object-button.chatForm > label {
    width: 100%;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > ._object-button.chatForm > label > textarea {
    width: 100%;
    min-width: 0;
    padding: 0.875rem 0.625rem 0 0;
    margin: auto;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    resize: none;
    background-color: transparent;
    border: none;
    font-size: 0.9375rem;
    line-height: 1rem;
    letter-spacing: -0.1px;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message-list > ._object-button.chatForm > label > textarea:focus {
    outline: none;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message {
    top: calc(100% - 45rem);
    width: 22.5rem;
    height: 43.5rem;
    right: 0;
    display: none;
    gap: 1.5rem;
    background-color: #F7F7F8;
    border-radius: 2.5rem;
    box-shadow: 0 0 0.5rem 0.0625rem rgba(0, 0, 0, 15%);
    padding: 1.25rem 1.75rem;
    position: absolute;
    z-index: 1;
    opacity: 0;
    flex-direction: column;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message.visible {
    display: flex;
    transition: opacity 1s ease;
    opacity: 1;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.625rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.625rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.top > .logo-img-container {
    width: 3.5rem;
    height: 3.5rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.top > .text-container {
    font-size: 1.25rem;
    font-weight: 700;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.top > .logo-img-container > img {
    width: 100%;
    height: 100%;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.manager {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1.25rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.manager > img {
    margin-right: 0.625rem;
    width: 2.25rem;
    height: 2.25rem;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.qna {
    margin-top: auto;
}

._main > .right-bottom-nav > .chat-button-container > .chat-message > .item.qna > ._object-button {
    width: 85%;
    text-align: center;

}

._main > .right-bottom-nav > .chat-button-container > .x-button {
    position: absolute;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    will-change: opacity, visibility;
    visibility: visible;
    background-color: rgba(247, 247, 248, 0.9);
    border-radius: 1.5rem;
    transition: visibility 400ms ease 0s;
    animation: 400ms cubic-bezier(0.36, 0, 0, 1) 0s 1 normal both running jBcSpD;
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 0.0625rem inset, rgba(0, 0, 0, 0.1) 0 0.25rem 0.375rem, rgba(0, 0, 0, 0.15) 0 0.5rem 1.875rem;
    bottom: -3.75rem;
    right: 2.875rem;
    opacity: 0;
}

._main > .right-bottom-nav > .chat-button-container > .x-button.visible {
    display: flex;
    transition: opacity 1s ease;
    opacity: 1;
}

._main > .right-bottom-nav > .chat-button-container > .x-button > svg {
    flex: 0 0 auto;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
    transition-delay: 0ms;
    transition-timing-function: cubic-bezier(0.3, 0, 0, 1);
    transition-duration: 150ms;
    transition-property: color;
}

._main > .right-bottom-nav > .chat-button-container > .chat-button {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer;
    box-sizing: border-box;
    width: auto;
    padding: 0;
    margin: 0;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-family: NotoSansKR, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "맑은 고딕", "Segoe UI", Roboto, "system-ui", "sans-serif";
    line-height: inherit;
    color: inherit;
    text-shadow: transparent 0 0 0;
    letter-spacing: inherit;
    background: transparent;
    border: 0 solid transparent;
    box-shadow: transparent 0 0 0;
}

._main > .right-bottom-nav > .chat-button-container > .chat-button > .a11y-hidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

._main > .right-bottom-nav > .chat-button-container > .chat-button > .chat-img {
    width: 11.5625rem;
    height: 6.25rem;
}


._footer {
    background-color: rgb(var(--body-background-color-default));
    border-top: 0.0625rem solid rgb(233, 233, 233);
    color: rgb(123, 123, 123);
    padding: 2.5rem 0;
}

._footer > .content-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

._footer > .content-container > * + * {
    margin-top: 1rem;
}

._footer > .content-container > .logo {
    height: 2.125rem;
    margin-bottom: 1.25rem;
}

._footer > .content-container > .enumerator {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    margin-right: unset;
    margin-bottom: unset;
    margin-left: unset;
    padding: unset;
}

._footer > .content-container > .enumerator > .item.important {
    font-size: 1.2rem;
    font-weight: 600;
}

._footer > .content-container > .enumerator > .item + .item {
    margin-left: 1rem;
}

._footer > .content-container > .enumerator > .item > .key {
    font-weight: 500;
    margin-right: 0.25rem;
}

._footer > .content-container > .enumerator.line-separated > .item + .item {
    margin-left: unset;
}

._footer > .content-container > .enumerator.line-separated > .item:not(:first-child)::before {
    width: 0.062rem;
    height: 1rem;
    background-color: rgb(163, 163, 163);
    content: '';
    display: inline-block;
    margin: 0 0.5rem;
    transform: translateY(0.15rem);
}


.recent_menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 17.625rem;
    height: 17.875rem;
    background: rgb(255, 255, 255);
    border-radius: 0.875rem;
    box-shadow: rgba(25, 25, 25, 0.2) 0 0.375rem 0.625rem;
}

@keyframes anim-cover-image {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 80rem) {
    ._layout-hmf > ._main {
        width: var(--content-width-default-1199);
    }

    ._content-wrapper > ._content-container {
        width: var(--content-width-default-1199);
    }

    ._main > .category > ._sliding-view > ._sliding-image-container {
        width: var(--content-width-default-1199);
    }

    ._main > .category > ._sliding-view > ._sliding-image-container ._slide-first {
        position: relative;
        /* box-sizing: border-box; */
        width: 100%;
        height: calc(18.25rem);
    }


    ._main > .category > ._travel_view {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    ._main > .category > ._travel_view > ._right_top > ._right_top_left {
        width: 22.5rem;
    }

    ._main > .category > ._travel_view > ._right_top > ._right_top_right {
        width: 21rem;
    }

    .tBtn1, .tBtn2 {
        width: var(--content-width-default-1199);
    }

    .tBtn3 {
        width: var(--content-width-default-1199);
        height: 12rem;
    }


}

@media (max-width: 48rem) {
    ._layout-hmf > ._main {
        width: 100%;
    }

    ._header > .content-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ._header > .content-container > .menu {
        display: none;

    }

    ._header > .content-container > .menu-toggle {
        display: block;
        margin-right: 1.25rem;

    }

    ._header > .content-container > .side-menu {
        display: none;
    }

    ._header > .content-container > .button-menu.visible {
        display: block;
    }

    ._header > .content-container > .button-menu.visible > .item {
        border-bottom: 0.0625rem solid #e8e8e8;
        color: rgb(var(--concept-color-green));
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 0.625rem;
    }

    ._main > .category > ._sliding-view {
        margin: 0;
    }

    ._main > .category > ._sliding-view > ._sliding-image-container ._slide-first {
        height: 12rem;
    }

    ._main > .category > ._travel_view {
        margin-top: 1.5rem;
    }

    ._main > .category > ._travel_view > ._right_top {
        width: 100%;
    }

    ._main > .category > ._travel_view > ._right_top > ._right_top_left,
    ._main > .category > ._travel_view > ._right_top > ._right_top_right {
        width: 50%;
    }

    ._content-wrapper > ._content-container {
        width: 100%;
    }
}
