<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>드립소다 qna페이지</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/qna/resources/stylesheets/qna.css}">
    <link rel="stylesheet" th:href="@{/qna/resources/stylesheets/notice.css}">
    <script defer th:src="@{/qna/resources/scripts/qna.js}"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <ul class="nav box" th:with="tab = ${#request.getParameter('tab')}">
        <li class="item"
            th:selected="${tab == null || tab.equals('help') || (!tab.equals('event') && !tab.equals('qna'))}">
            <a class="link" th:href="@{./ (tab=help)}">
                <span class="text">공지사항</span>
            </a>
        </li>
        <li class="item" th:selected="${tab != null && tab.equals('event')}">
            <a class="link" th:href="@{./ (tab=event)}">
                <span class="text">이벤트</span>
            </a>
        </li>
        <li class="item" th:selected="${tab != null && tab.equals('qna')}">
            <a class="link" th:href="@{./ (tab=qna)}">
                <span class="text">qna</span>
            </a>
        </li>
    </ul>

    <th:block th:switch="${#request.getParameter('tab')}">
        <section class="content box event" th:case="'event'">
            <h2 class="title">이벤트</h2>
            <div class="content">
                <div class="list_wrap">
                    <div class="thead">
                        <div class="tr head">
                            <span class="th sort">번호</span>
                            <span class="th subject">제목</span>
                            <span class="th date">작성일</span>
                            <span class="th count">조회수</span>
                        </div>
                        <div class="tr " th:each="event, iterStat : ${eventQna}">
                            <span class="th sort" th:text="${iterStat.count}">번호</span>
                            <span class="th subject"><a th:text="${event.getTitle()}"
                                                        th:href="@{'/qna/read/' + ${event.getIndex()}}"></a>
                            </span>
                            <span class="th date" th:text="${#dates.format(event.getCreatedAt(),'yy-MM-dd')}">작성일</span>
                            <span class="th count" th:text="${event.getViewCount()}">조회수</span>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="pagination">
                <div class="pagination_wrap">
                    <ul id="eventPageContainer">
                        <li class="page" th:if="${paging.requestPage > 1}">
                            <a class="btn_num"  th:href="@{'/qna/?tab=event&page=1'}"
                               th:id="'page_' + ${pageNumber}">&lt;&lt;</a>
                        </li>
                        <!-- 이전 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page" th:if="${paging.requestPage > 1}">
                            <a class="btn_num" th:href="@{'/qna/?tab=event&page=' + ${paging.requestPage - 1}}"
                               th:id="'page_' + ${pageNumber}">&lt;</a>
                        </li>
                        <li class="page" th:each="pageNumber : ${#numbers.sequence(paging.boundStartPage, paging.boundEndPage)}"
                            th:class="${pageNumber == paging.requestPage} ? 'current-page' : ''">
                            <a class="btn_num " th:href="@{'/qna/?tab=event&page=' + ${pageNumber}}" th:text="${pageNumber}"
                               th:id="'page_' + ${pageNumber}"   th:classappend="${pageNumber == paging.requestPage} ? 'selected' : ''"></a>
                        </li>
                        <!-- 다음 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page"  th:if="${paging.requestPage < paging.maxPage}">
                            <a class="btn_num"th:href="@{'/qna/?tab=event&page=' + ${paging.maxPage + 1}}"
                               th:id="'page_' + ${pageNumber}">&gt;</a>
                        </li>
                        <!-- 맨 마지막 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page" th:if="${paging.requestPage < paging.maxPage}">
                            <a class="btn_num" th:href="@{'/qna/?tab=event&page=' + ${paging.maxPage}}"
                               th:id="'page_' + ${pageNumber}">&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="content box qna" th:case="'qna'">
            <h2 class="title">qna</h2>
            <div class="content">
                <ul class="list_wrap">
                    <li class="thead" th:each="qnaQna : ${qnaQna}">
                        <span th:text="${qnaQna.getTitle()}"></span>
                        <div class="more-container">
                            <a th:href="@{'/qna/read/' + ${qnaQna.getIndex()}}">
                                <p>상세보기</p>
                            </a>
                            <div class="more-icon">
                                <svg width="8" height="14" viewBox="0 0 8 14" fill="none"
                                     xmlns="http://www.w3.org/2000/svg" style="cursor: pointer;">
                                    <path d="M1 1L7 7L1 13" stroke="#00CE7C" stroke-width="1"
                                          stroke-linecap="square"></path>
                                </svg>
                            </div>
                        </div>
                    </li>
                    <form id="qnaForm">
                        <div class="tbody">
                            <div>
                                <div class="tr notice">
                                    <div class="td merged-cell" th:if="${qnaQna == null}">게시글이 존재하지 않습니다.</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </ul>
            </div>
            <div class="pagination">
                <div class="pagination_wrap">
                    <ul id="qnaPageContainer">
                        <li class="page" th:if="${paging.requestPage > 1}">
                            <a class="btn_num"  th:href="@{'/qna/?tab=qna&page=1'}"
                               th:id="'page_' + ${pageNumber}">&lt;&lt;</a>
                        </li>
                        <!-- 이전 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page" th:if="${paging.requestPage > 1}">
                            <a class="btn_num" th:href="@{'/qna/?tab=qna&page=' + ${paging.requestPage - 1}}"
                               th:id="'page_' + ${pageNumber}">&lt;</a>
                        </li>
                        <li class="page" th:each="pageNumber : ${#numbers.sequence(paging.boundStartPage, paging.boundEndPage)}"
                            th:class="${pageNumber == paging.requestPage} ? 'current-page' : ''">
                            <a class="btn_num " th:href="@{'/qna/?tab=qna&page=' + ${pageNumber}}" th:text="${pageNumber}"
                               th:id="'page_' + ${pageNumber}"   th:classappend="${pageNumber == paging.requestPage} ? 'selected' : ''"></a>
                        </li>
                        <!-- 다음 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page"  th:if="${paging.requestPage < paging.maxPage}">
                            <a class="btn_num"th:href="@{'/qna/?tab=qna&page=' + ${paging.maxPage + 1}}"
                               th:id="'page_' + ${pageNumber}">&gt;</a>
                        </li>
                        <!-- 맨 마지막 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page" th:if="${paging.requestPage < paging.maxPage}">
                            <a class="btn_num" th:href="@{'/qna/?tab=qna&page=' + ${paging.maxPage}}"
                               th:id="'page_' + ${pageNumber}">&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
<!--        <section class="content box question" th:case="'question'">-->
<!--            <h2 class="title">문의하기</h2>-->
<!--        </section>-->
        <section class="content box help" th:case="*">
            <h2 class="title">공지사항</h2>
            <div class="content">
                <div class="list_wrap">
                    <div class="thead">
                        <div class="tr head">
                            <span class="th sort">번호</span>
                            <span class="th subject">제목</span>
                            <span class="th date">작성일</span>
                            <span class="th count">조회수</span>
                        </div>
                        <div class="tr " th:each="help, iterStat : ${helpQna}">
                            <span class="th sort" th:text="${paging.rowCountPerPage * (paging.requestPage - 1) + iterStat.count}">번호</span>
                            <span class="th subject"><a th:text="${help.getTitle()}"
                                                        th:href="@{'/qna/read/' + ${help.getIndex()}}"></a>
                            </span>
                            <span class="th date" th:text="${#dates.format(help.getCreatedAt(),'yy-MM-dd')}">작성일</span>
                            <span class="th count" th:text="${help.getViewCount()}">조회수</span>
                        </div>
                    </div>
                    <form id="viewMenuForm">
                        <div class="tbody">
                            <div>
                                <div class="tr notice">
                                    <div class="td merged-cell" th:if="${helpQna == null}">게시글이 존재하지 않습니다.</div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="pagination">
                <div class="pagination_wrap">
                    <ul id="helpPageContainer">
                        <li class="page" th:if="${paging.requestPage > 1}">
                            <a class="btn_num"  th:href="@{'/qna/?tab=help&page=1'}"
                               th:id="'page_' + ${pageNumber}">&lt;&lt;</a>
                        </li>
                        <!-- 이전 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page" th:if="${paging.requestPage > 1}">
                            <a class="btn_num" th:href="@{'/qna/?tab=help&page=' + ${paging.requestPage - 1}}"
                               th:id="'page_' + ${pageNumber}">&lt;</a>
                        </li>
                        <li class="page" th:each="pageNumber : ${#numbers.sequence(paging.boundStartPage, paging.boundEndPage)}"
                            th:class="${pageNumber == paging.requestPage} ? 'current-page' : ''">
                            <a class="btn_num " th:href="@{'/qna/?tab=help&page=' + ${pageNumber}}" th:text="${pageNumber}"
                               th:id="'page_' + ${pageNumber}"   th:classappend="${pageNumber == paging.requestPage} ? 'selected' : ''"></a>
                        </li>
                        <!-- 다음 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page"  th:if="${paging.requestPage < paging.maxPage}">
                            <a class="btn_num"th:href="@{'/qna/?tab=help&page=' + ${paging.maxPage + 1}}"
                               th:id="'page_' + ${pageNumber}">&gt;</a>
                        </li>
                        <!-- 맨 마지막 페이지로 가는 링크를 생성하는 부분 -->
                        <li class="page" th:if="${paging.requestPage < paging.maxPage}">
                            <a class="btn_num" th:href="@{'/qna/?tab=help&page=' + ${paging.maxPage}}"
                               th:id="'page_' + ${pageNumber}">&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </th:block>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>