<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DRIPSODA :: 혼자여도 괜찮은 여행, 드립소다</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/qna/resources/stylesheets/read.css}">
    <script defer th:src="@{/qna/resources/scripts/read.js}"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <div class="title-container">
        <h2 class="title">[이벤트] 12월 여행상점 리뷰 작성 이벤트 (~12/31)</h2>
        <div class="content-container">
            <div class="sub-title-container">
                <h3 class="sub-title">
                    <b>제목</b>
                    <span>[이벤트] 12월 여행상점 리뷰 작성 이벤트 (~12/31)</span>
                </h3>
                <span class="created">2023-12-01 19:19:07</span>
            </div>
            <div class="text-container">
                <div class="text-input">
<!--                    <h2>12월 여행상점 리뷰 작성 이벤트</h2>-->
<!--                    <p><br></p>-->
<!--                    <p class="notice-period"><span style="color: rgb(136, 136, 136);">(2023.12.01 ~ 2023.12.31)</span></p>-->
<!--                    <p><br></p>-->
<!--                    <p><br></p>-->
<!--                    <p class="인삿말">안녕하세요, 트립소다입니다.</p>-->
<!--                    <p><br></p>-->
<!--                    <p>여행 상점을 이용하고 아직 후기를 작성하지 않으셨다면,</p>-->
<!--                    <p>12월 31일까지 <strong>후기를 작성하고 적립금 최대 30,000원</strong> 받아가세요!</p>-->
<!--                    <p><br></p>-->
<!--                    <p>이벤트 기간 동안 <strong>사진 후기 하나만 써도 적립금 10,000원</strong>이 제공됩니다.</p>-->
<!--                    <p><br></p>-->
<!--                    <p>이미 리뷰를 작성한 이력이 있다면,</p>-->
<!--                    <p><strong>작성하신 리뷰 하나 당 적립금 2,000원이 자동으로 지급</strong>됩니다.(12/5 예정)</p>-->
<!--                    <p><br></p>-->
<!--                    <p><br></p>-->
<!--                    <p><strong>[상세 적립금 지급 내용]</strong></p>-->
<!--                    <p><br></p>-->
<!--                    <p>1) 최초 사진후기 작성 시 : 10,000원</p>-->
<!--                    <p>2) 추가 사진후기 작성 시&nbsp;: 5,000원</p>-->
<!--                    <p>3) 블로그/카페 후기 작성 시 : 10,000원</p>-->
<!--                    <p><br></p>-->
<!--                    <p>* 이미 리뷰를 작성한 상품에 대해 중복 리뷰 작성은 불가합니다.</p>-->
<!--                    <p>* 사진이 없는 텍스트 리뷰 작성 시, 50%의 적립금만 제공됩니다.</p>-->
<!--                    <p>* 이전 후기 작성 내역과 상관 없이, 이벤트 기간 내 최초 사진리뷰 및 추가 리뷰 작성 시 적립금이 제공됩니다.</p>-->
<!--                    <p>* 추가 사진후기는 최대 2회까지 작성 가능합니다.&nbsp;</p>-->
<!--                    <p>* 블로그 또는 카페 후기 작성 시, 1대1 문의를 통해 작성하신 후기 링크를 보내주세요.</p>-->
<!--                    <p><br></p>-->
<!--                    <p><a href="/mypage/step/reservation?page=1&amp;filter=1" rel="noopener noreferrer" target="_blank"><strong>지금-->
<!--                        후기 작성 하러 가기 ▶</strong></a></p></div>-->
            </div>
        </div>
        <div class="list-container">
            <div class="list-next">
                <span class="next">다음 글</span>
                <strong class="next-title">[이벤트] 픽스픽스 X 트립소다 AI가 만들어주는 실물 포토북 무료 증정 이벤트 </strong>
            </div>
        </div>
        <div class="go-to-list"><a href="">
            <button class="go">목록으로</button>
        </a></div>
    </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>