<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DRIPSODA :: 혼자여도 괜찮은 여행, 드립소다</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <link rel="stylesheet" th:href="@{/qna/resources/stylesheets/read.css}">
    <script defer th:src="@{/qna/resources/scripts/delete.js}"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main main">
    <div class="title-container">
        <h2 class="title" th:text="${qnaArticle.getTitle()}"></h2>
        <div class="content-container">
            <div class="sub-title-container">
                <h3 class="sub-title">
                    <b>제목</b>
                    <span th:text="${qnaArticle.getTitle()}"></span>
                </h3>
                <span th:text="${#dates.format(qnaArticle.getCreatedAt(), 'yy-MM-dd')}"></span>
            </div>
            <div class="text-container">
                <div class="text-input">
                    <h2 th:text="${qnaArticle.getTitle()}"></h2>
                    <p><br></p>
                    <p><br></p>
                    <p th:utext="${qnaArticle.getContent()}"></p>

                </div>
            </div>
            <div class="list-container">
                <div class="list-next">
                    <div class="next">
                    <span th:if="${pageMove.getNext() != 0}">
                    <a th:href="@{'/qna/read/' + ${pageMove.getNext()}}">다음글</a>
                        </span>
                        <span th:if="${pageMove.getNext() == 0}">다음글</span>
                    </div>
                    <strong th:text="${pageMove.getNextTitle()}"></strong>
                </div>
                <div class="list-prev">
                    <div class="prev">
                    <span th:if="${pageMove.getPrev() != 0}">
                    <a th:href="@{'/qna/read/' + ${pageMove.getPrev()}}">이전글</a>
                        </span>
                        <span th:if="${pageMove.getPrev() == 0}">이전글</span>
                    </div>
                    <strong th:text="${pageMove.getPrevTitle()}"></strong>
                </div>
            </div>
            <div class="go-to-list _object-button">
                <a th:href="@{'/qna/'}">목록으로</a>
            </div>
            <div class="modify" th:if="${session.memberUser != null and session.memberUser.isAdmin()}">
                <a class="_object-button modify" th:href="@{'/member/manager/modify/' + ${qnaArticle.getIndex()}}">수정하러가기</a>
                <button class="_object-button delete" id="deleteButton">삭제하기</button>
            </div>
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>