<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="content">
        <div class="list_wrap">
            <div class="thead">
                <div class="tr">
                    <span class="th sort">번호</span>
                    <span class="th subject">제목</span>
                    <span class="th date">작성일</span>
                    <span class="th count">조회수</span>
                </div>
            </div>
            <form id="viewMenuForm">
                <div class="tbody">
                    <div>
                        <div class="tr notice">
                            <div class="td merged-cell">게시글이 존재하지 않습니다.</div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="pagination">
        <div class="pagination_wrap">
            <ul id="pageContainer">
                <li class="page">
                    <a class="btn_num">1</a>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>